@tailwind base;
@tailwind components;
@tailwind utilities;

.form-group-checkbox {
    display: flex;
    align-items: center;
    gap: 5px; /* Space between checkbox and label */
}

.form-group-checkbox label {
    flex: none; /* Override flex: 0 0 120px from .form-group label */
    text-align: left; /* Align text to the left */
}

.top-exercises-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.top-exercises-container .button.active {
    background-color: #4CAF50; /* Example active color */
    color: white;
}